/gsviewpager/build/.transforms/74bf44677ee5a42ea9f4cf698688a8b8.bin
/gsviewpager/build/.transforms/74bf44677ee5a42ea9f4cf698688a8b8/classes/classes.dex
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_10_0.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_10_0.xml
/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_4.xml
/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
/.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_2_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_2_aar.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_10_0_aar.xml
/.idea/libraries/Gradle__androidx_test_core_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_5_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_test_runner_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_3_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0.xml
/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
/.idea/modules/gsviewpager/My_Application.gsviewpager.iml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_3_0_aar.xml
/.idea/libraries/Gradle__androidx_activity_activity_1_2_3_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_3_4_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/.idea/modules/app/My_Application.app.iml
/.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_material_material_1_3_0_aar.xml
/.idea/libraries/Gradle__junit_junit_4_13_2.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_3_0_aar.xml
/.idea/modules/My_Application.iml
/.idea/libraries/Gradle__androidx_test_runner_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_1_2_0.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_10_0_aar.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_test_core_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_4_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_3_0_aar.xml
/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_1.xml
/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_1_0_aar.xml
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/.name
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/BuildConfig.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/BuildConfig.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/BuildConfig.dex
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.5/checksums/checksums.lock
/.gradle/8.2/checksums/checksums.lock
/.gradle/checksums/checksums.lock
/gsviewpager/build/intermediates/compile_library_classes_jar/debug/classes.jar
/gsviewpager/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/.gradle/config.properties
/.gradle/7.2/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.5/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.2/dependencies-accessors/dependencies-accessors.lock
/.idea/deploymentTargetDropDown.xml
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/desugar_graph.bin
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/desugar_graph.bin
/.gradle/7.2/executionHistory/executionHistory.bin
/.gradle/8.2/executionHistory/executionHistory.bin
/.gradle/7.2/executionHistory/executionHistory.lock
/.gradle/8.2/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/7.2/fileHashes/fileHashes.bin
/.gradle/8.2/fileHashes/fileHashes.bin
/.gradle/6.7.1/fileHashes/fileHashes.lock
/.gradle/7.2/fileHashes/fileHashes.lock
/.gradle/7.5/fileHashes/fileHashes.lock
/.gradle/8.2/fileHashes/fileHashes.lock
/.gradle/7.2/dependencies-accessors/gc.properties
/.gradle/7.2/gc.properties
/.gradle/7.5/dependencies-accessors/gc.properties
/.gradle/7.5/gc.properties
/.gradle/8.2/dependencies-accessors/gc.properties
/.gradle/8.2/gc.properties
/.idea/gradle.xml
/gsviewpager/build/intermediates/javac/debug/classes/com/gs/gsviewpager/GSViewPager.class
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/GSViewPager.class
/gsviewpager/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/GSViewPager.class.uniqueId0
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/GSViewPager.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/GSViewPager.dex
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterBitMapImage$1.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterBitMapImage$1.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterBitMapImage$1.dex
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterBitMapImage.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterBitMapImage.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterBitMapImage.dex
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFragment.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFragment.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFragment.dex
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFromURL$1.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFromURL$1.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFromURL$1.dex
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFromURL$2.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFromURL$2.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFromURL$2.dex
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFromURL.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFromURL.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterFromURL.dex
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterImage$1.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterImage$1.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterImage$1.dex
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterImage.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterImage.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/adapters/GSViewPagerAdapterImage.dex
/.gradle/7.2/fileChanges/last-build.bin
/.gradle/7.5/fileChanges/last-build.bin
/.gradle/8.2/fileChanges/last-build.bin
/gsviewpager/build/intermediates/compiled_local_resources/debug/out/layout_slide_image_item.xml.flat
/gsviewpager/build/intermediates/compiled_local_resources/debug/out/layout_slide_image_item_disable_zoom.xml.flat
/gsviewpager/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/gsviewpager/build/outputs/logs/manifest-merger-debug-report.txt
/.gradle/7.5/checksums/md5-checksums.bin
/.gradle/8.2/checksums/md5-checksums.bin
/.gradle/checksums/md5-checksums.bin
/gsviewpager/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/gsviewpager/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/gsviewpager/build/intermediates/incremental/mergeDebugShaders/merger.xml
/gsviewpager/build/intermediates/incremental/packageDebugAssets/merger.xml
/.idea/migrations.xml
/.idea/misc.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/gsviewpager/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
/gsviewpager/build/intermediates/compiled_local_resources/debug/out/raw_load.gif.flat
/gsviewpager/build/intermediates/library_java_res/debug/res.jar
/.gradle/7.2/fileHashes/resourceHashesCache.bin
/.gradle/8.2/fileHashes/resourceHashesCache.bin
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/results.bin
/gsviewpager/build/.transforms/44fd5449f17b5920abc40c30338eead7/results.bin
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/results.bin
/.gradle/7.5/checksums/sha1-checksums.bin
/.gradle/8.2/checksums/sha1-checksums.bin
/.gradle/checksums/sha1-checksums.bin
/gsviewpager/build/intermediates/packaged_res/debug/layout/slide_image_item.xml
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/TouchImageView$1.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/TouchImageView$1.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/TouchImageView$1.dex
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/TouchImageView$ScaleListener.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/TouchImageView$ScaleListener.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/TouchImageView$ScaleListener.dex
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/TouchImageView.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/TouchImageView.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/TouchImageView.dex
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/Transformer.class
/gsviewpager/build/.transforms/6aecbc5a1acf2841b241e9b3e7edc3ab/transformed/debug/com/gs/gsviewpager/Transformer.dex
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/Transformer.dex
/gsviewpager/build/intermediates/incremental/debug/packageDebugResources/merged.dir/values/values.xml
/.idea/vcs.xml
/gsviewpager/build/intermediates/javac/debug/classes/com/gs/gsviewpager/GSViewPager$OnMoveListener.class
/gsviewpager/build/intermediates/runtime_library_classes_dir/debug/com/gs/gsviewpager/GSViewPager$OnMoveListener.class
/gsviewpager/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/GSViewPager$OnMoveListener.class.uniqueId0
/gsviewpager/build/.transforms/7106c15e5b5c98b70f9311fd2c4f034f/transformed/debug/com/gs/gsviewpager/GSViewPager$OnMoveListener.dex
/gsviewpager/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/GSViewPager.class.uniqueId1
